/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i')
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lora', serif;
}
a:hover { text-decoration: none }

.single-slide{ background-image: url(../img/slides-bg-2.jpg)}
.slide-bg-2{ background-image: url(../img/slides-bg-1.jpg)}


.header-area a {
  color: #333;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.logo span {
  font-size: 80%;
  font-style: italic;
  font-weight: 400;
  display: block;
}
.logo img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100px;
  float: left;
}
.contact-icon {
  position: relative;
  display: inline-block;
  font-size: 18px;
  margin-left: 30px;
  text-align: left;
  padding-left: 40px;
  margin-top: 10px;
}
.contact-icon i.fa {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 25px;
}
.single-slide {
  padding-top: 200px;
  padding-bottom: 150px;
  background-position: center;
  background-size: cover;
  background-color: #333;
}
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.slide-text {
  position: relative;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  z-index: 1;
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 75px;
}
.slide-text h2 {
  font-size: 36px;
  font-weight: 700;
}
.boxed-btn {
  display: inline-block;
  background: #ef800d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 700;
}
.slide-text .boxed-btn {
  margin-top: 20px;
}
.slide-text:after {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  border-radius: 2px;
}


.homepage-slides .owl-nav div {
  left: 50px;
  top: 50%;
  display: inline-block;
  position: absolute;
  font-size: 50px;
  line-height: 60px;
  margin-top: -30px;
  opacity: 0;
  transition: .3s;
}
.homepage-slides .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}
.homepage-slides:hover .owl-nav div{
  opacity: 1;
}
.homepage-slides .owl-dots div {
  position: relative;
  background: #fff;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin
  : 5px;
  border-radius: 50%;
  transition: .3s;
}
.homepage-slides .owl-dots div.active {
  background: #ef800d;
}
.homepage-slides .owl-dots {
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: center;
  width: 100%;
 
}