/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }

.free-space-100{height: 100px}
.free-space-80{height: 80px}
.free-space-60{height: 60px}

.area-padding{padding: 100px 0}

.header-area-top {
    background: #0b0b0b;
    font-size: 15px;
    padding: 13px 0;
}

.header-area-top, .header-area-top a {
    color:  #fff;
}

.header-area-top i.fa {
    color: #fc721e;
    padding-right: 7px;
}

.header-right i.fa-phone {
    padding-left: 20px;
}

.social-links i.fa {
    color: #fff;
    padding-right: 0;
}

.social-links a {
    display:  inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    text-align:  center;
    line-height:  33px;
    border-radius: 50%;
    margin-left: 10px;
    transition: .3s;
}

.social-links a:hover {
    background: #fc721e;
    border-color:  #fc721e;
}

.social-links {
    padding-left: 20px;
}

.header-left {padding-top: 6px;display:  inline-block;}

.logo {
    font-weight: 700;
    text-transform:  uppercase;
    border: 1px solid;
    display:  inline-block;
    padding:  10px 15px;
    margin-bottom: 0;
}

.mainmenu ul {
    margin:  5px 0;
    padding:  0;
    list-style:  none;
}

.mainmenu li {
    display:  inline-block;
    transition: .3s;
}

.mainmenu li a {
    display:  block;
    color: #000;
    font-weight:  700;
    text-transform:  uppercase;
    padding: 10px 17px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: .3s
}

.mainmenu li:hover > a {
    border: 1px solid #fc721e;
}
.mainmenu li:last-child{
}

.header-area {
    padding: 20px 0;
}
.mainmenu {
    margin-right: -17px;
}
.slide-bg-1{ background-image: url(../img/slide-bg-1.jpg)}
.slide-bg-2{ background-image: url(../img/slide-bg-2.jpg)}
.slide-bg-3{ background-image: url(../img/slide-bg-3.jpg)}

.single-slide-item {
    background-size:  cover;
    background-position:  center;
    background-color:  #ddd;
    width:  100%;
    height: 700px;
    position:  relative;
    z-index:  2;
    font-size:  16px;
    font-weight: 300;
}

.single-slide-item .d-table-cell {
    vertical-align:  middle;
    color: #fff;
}

.single-slide-item:after {
    position:  absolute;
    content:  "";
    left:  0;
    top: 0;
    height:  100%;
    width:  100%;
    background: #050505;
    z-index:  -2;
    opacity:  .8;
}

.single-slide-item h2 {
    font-size:  60px;
    font-weight:  700;
    margin-bottom: 40px;
}

.border-btn {
    background:  #fc721e;
    color:  #fff;
    display:  inline-block;
    padding: 12px 22px;
    text-transform:  uppercase;
    font-weight: 500;
    font-size:  16px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 30px;
    border: 1px solid #fc721e;
}

.border-btn.border-box {
    background: transparent;
    border-color: #fff;
}
.homepage-slide .owl-dots div {
    display:  inline-block;
    height:  25px;
    width:  2px;
    background: #fff;
    margin-right: 8px;
}

.homepage-slide .owl-dots {
    position:  relative;
    left: 0;
    bottom: 90px;
    width: 1110px;
    margin: 0 auto;
}

.homepage-slide .owl-dots div.active {
    background: #fc721e;
    height: 30px;
}
.homepage-slide {
    margin-bottom: -37px;
}
/*service area*/
.service-bg-1{background-image: url(../img/service-bg-1.jpg)}
.service-bg-2{background-image: url(../img/service-bg-2.jpg)}
.service-bg-3{background-image: url(../img/service-bg-3.jpg)}
.service-area.area-padding{
    padding-bottom: 0;
}
.section-title {
    text-align:  center;
    font-size: 15px;
    color: #333;
    line-height: 1.7;
}

.section-title h2 {
    text-transform:  uppercase;
    margin-bottom: 20px;
    font-size:  30px;
    font-weight:  700;
}

.service-bg {
    height:  200px;
    width:  100%;
    background-size:  cover;
    background-position:  center;
    position:  relative;
    z-index:  1;
}

.service-bg h2 {
    background: #fc721e;
    color:  #fff;
    font-size: 20px;
    font-weight:  500;
    position:  absolute;
    padding:  20px;
    left: 10%;
    width:  80%;
    text-align:  center;
    bottom: -30px;
    margin: 0;
}
.service-content {
    text-align:  center;
    padding-top: 73px;
    padding-left: 15px;
    line-height:  30px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 15px;
}

.single-service-item {
    text-align:  center;
    border: 1px solid #d1cfcf;
    transition: .3s;
}

.readmore-btn {
    display:  inline-block;
    margin-bottom: 30px;
    color: #333;
    font-weight:  700;
    font-size:  16px;
}

.readmore-btn i.fa {
    padding-left: 8px;
}

.single-service-item:hover {
    box-shadow: 0 0 30px #d5d5d5;
}

.single-service-item:hover .readmore-btn {
    color: #fc721e;
}

/*About Section*/

.about-bg{background-image: url(../img/about-bg.jpg)}
.about-bg {
    height:  450px;
    width:  100%;
    background-size:  cover;
    background-position:  center top;
    position:  relative;
    z-index:  1;
}

.about-bg:after {
    position:  absolute;
    content:  "";
    left: -2px;
    top: 75px;
    width:  2px;
    height: 300px;
    background: #fc721e;
}

.about-bg:before {
    position:  absolute;
    content:  "";
    right: -2px;
    width: 2px;
    height:  300px;
    top: 75px;
    background: #fc721e;
}

.about-text {
    font-size:  15px;
    line-height: 27px;
    font-weight: 400;
    padding: 50px 0;
}

.about-text h3 {
    font-size:  20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.aboutus-area {
    background: #f4f4f4;
}

/*Consulting Section*/
.consulting-area h3 {
    font-size:  22px;
    text-transform:  uppercase;
    margin: 0;
    font-weight: 500;
    margin-top: 6px;
}

.consulting-area {
    background: #fc721e;
    color:  #fff;
    padding: 35px 0;
}

.started-btn {
    display:  inline-block;
    color: #333;
    text-transform:  uppercase;
    background:  #fff;
    border-radius:  5px;
    padding: 5px 6px;
    font-weight:  500;
    font-size:  16px;
}

/*Project Section*/
.project-bg{background-image: url(../img/project-bg-1.jpg)}
.project-bg-2{background-image: url(../img/project-bg-2.jpg)}
.project-bg-3{background-image: url(../img/project-bg-3.jpg)}
.project-bg-4{background-image: url(../img/project-bg-4.jpg)}

.project-area.area-padding{
    padding-bottom: 0;
}
.project-bg {
    height: 260px;
    width: 255px;
    position:  relative;
    z-index:  1;
}
.single-project-item {
    margin-bottom: 25px;
}

.project-bg:after {
    position:  absolute;
    content:  "";
    left: 0;
    top:  0;
    height:  100%;
    width:  100%;
    background:  #000;
    z-index:  -1;
    opacity: 0;
    visibility:  hidden;
    transition:  .3s;
}

.single-project-item:hover .project-bg:after {
    opacity:  .85;
    visibility:  visible;
}

.project-content {
    font-size:  15px;
    line-height:  28px;
    padding-top:  30px;
    padding-bottom: 30px;
    padding-left: 35px;
}

.project-content h3 {
    font-size:  20px;
    font-weight: 700;
    margin-bottom:  20px;
    transition: .3s;
}

.view-more {
    color:  #333;
    font-size: 15px;
    font-weight: 700;
    transition:  .3s;
}

.view-more i.fa {
    padding-left: 5px;
}

.single-project-item:hover .project-content h3, .single-project-item:hover .view-more {
    color: #fc721e;
}