/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }

.header-area-top {
    background: #0b0b0b;
    font-size: 15px;
    padding: 13px 0;
}

.header-area-top, .header-area-top a {
    color:  #fff;
}

.header-area-top i.fa {
    color: #fc721e;
    padding-right: 7px;
}

.header-right i.fa-phone {
    padding-left: 20px;
}

.social-links i.fa {
    color: #fff;
    padding-right: 0;
}

.social-links a {
    display:  inline-block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    text-align:  center;
    line-height:  33px;
    border-radius: 50%;
    margin-left: 10px;
    transition: .3s;
}

.social-links a:hover {
    background: #fc721e;
    border-color:  #fc721e;
}

.social-links {
    padding-left: 20px;
}

.header-left {padding-top: 6px;display:  inline-block;}

.logo {
    font-weight: 700;
    text-transform:  uppercase;
    border: 1px solid;
    display:  inline-block;
    padding:  10px 15px;
}

.mainmenu ul {
    margin:  5px 0;
    padding:  0;
    list-style:  none;
}

.mainmenu li {
    display:  inline-block;
}

.mainmenu li a {
    display:  block;
    color: #000;
    font-weight:  700;
    text-transform:  uppercase;
    padding: 12px 17px;
    font-size: 14px;
    border: 1px solid transparent;
}

.mainmenu li:hover > a {
    border: 1px solid #fc721e;
}
.mainmenu li:last-child{
}

.header-area {
    padding: 20px 0;
}
.mainmenu {
    margin-right: -17px;
}